.nav-bar {
  height: 130px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  z-index: 3;
  /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); */
}

.nav-bar-right-box {
  display: flex;
  flex-direction: row;
}

.company-logo {
  width: 170px;
  height: 100%;
  background-image: url("./CompanyLogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}
/* 
.nav-bar-links {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
} */

/* .nav-bar-link-box {
  width: 12vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.log-out-button {
  width: 50px;
  height: 50px;
  background: rgb(248, 121, 121);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px 5px;
  margin: 10px 10px;
  font-size: 70%;
  font-weight: 800;
  cursor: pointer;
} */
