.navBar {
  height: 130px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  z-index: 3;
}

.navBarRightBox {
  display: flex;
  flex-direction: row;
}

.companyLogo {
  width: 170px;
  height: 100%;
  background-image: url("./CompanyLogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.navBarLinks {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

.navBarLinkBox {
  width: 12vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  width: 50px;
  height: 50px;
  background: rgb(248, 121, 121);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px 5px;
  margin: 10px 10px;
  font-size: 70%;
  font-weight: 800;
  cursor: pointer;
}
