
.instructor-detail-main {
  height: 100%;
  width: 50%;
  margin: 20px;
  padding: 10px 10px;
  background-color: white;
  border: 1pt solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.instructor-detail-content {
  width: 90%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: space-evenly;
  flex-direction: column;
}


.instructors-delete-button {
  text-decoration: none;
  background: none;
  border: 1px solid red;
  padding: 10px;
  margin: 2px;
  background-color: white;
  color: red;
  display: block;
  width: 150px;

}

.instructors-update-button {
  text-decoration: none;
  background: none;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  background-color: white;
  display: block;
  width: 150px;
}

