#about-header {
  width: 90%;
  margin-bottom: 30px;
}

.about-description-container {
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about-description-container {
  border: none;
}

.about-description {
  padding: 10px;
  font-size: 1.3vw;
  width: 90%;
}

#delete-button {
  background-color: red;
  color: white;
}

#new-about-button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
