.aboutMainContainer {
  height: 100%;
  width: 100%;
  margin-left: 120px;
  background-color: #e2c8f5;
}

.aboutBottomContainer {
  height: 80vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBox {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  font-size: 2vw;
  /* background-color: red; */
}

.aboutBoxDescription {
  font-size: 2vw;
}
