.homeMainContainer {
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin-top: 130px;
  background-color: #fce183;
}

.homeVideoContainer {
  height: 650px;
  width: 100%;
  background-image: url("./giraffe.jpg");
  /* background-size: cover; */
}

.bcmaDescription {
  width: 6%;
  padding: 10px;
  /* margin-top: 20px; */
  background-color: red;
}

/* Show Main Events */
.happeningContainer {
  height: auto;
  width: 100%;
  background-color: #fce183;
}

.happeningHeader {
  padding: 10px;
  margin: 10px;
}

.happeningEventContainer {
  width: 100%;
  height: auto%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
  padding: 20px;
}

.eventCardOuter {
  height: 600px;
  width: 35%;
  background-color: white;
  border: 2px solid black;
}

.eventCardImage {
  height: 400px;
  width: 100%;
  background-image: url("./giraffe.jpg");
}

.eventDetails {
  margin: 10px;
}

/* Footer */

.footerContainer {
  height: 100px;
  width: 100%;
  background-color: #fce183;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBox {
  width: 90%;
  height: 100%;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBox h3 {
  margin: 20px;
}

#punchLine {
  font-family: "Sacramento", cursive;
  font-size: 3vw;
}

.admin-link {
  text-decoration: none;
  color: black;
}
