.contact-grid-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* flex-direction: column; */
}

.contact-grid-container form {
  display: flex;
  flex-direction: column;
}

.contact-grid-container label {
  font-size: 1.2vw;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 600px;
}

.contact-grid-container input {
  font-size: 1.3vw;
  margin-bottom: 20px;
  background: none;
  border: 1px solid black;
  padding: 10px;
}

.contact-grid-container button {
  background: none;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

.alternative-contact-container {
  margin-top: 50px;
  font-size: 1.3vw;
}

#admin-contact-button {
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
