.contact-grid-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: red;
}

/* #maincontainerish {
  background-color: blue;
}*/

#containerish {
  background-color: purple;
}

#headerish {
  background-color: aqua;
}
