@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/*font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
/* font-family: 'Sacramento', cursive; */

* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.appOuterContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
