@import "~bootstrap/scss/bootstrap.scss";

body {
  background: white;
}

.main-container {
  background: white;
}

.bcmaPageHeaderH1 {
  // font-family: 'Merriweather', serif;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  margin-bottom: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.logout-link {
  color: red;
}

#nav-background{
  background: white !important;
}


